div h1, 
div p{
    color: brown !important;
}

div{
    width: 200px;
    height: 500px;
    /* border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px; */

    border: 5px dotted color(srgb red);
    border-top: 10px dotted;

    /* border-style: dotted;
    border-color: brown; */
}